*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #f7f7f0;
    color: #000000;
    margin: 0px;
}

.recipe-menu {
    width: 830px;
    background: whitesmoke;
    margin: 0 auto;
    padding: 32px;
    border: 2px solid darkslategray;
}

ul .recipe {
    list-style-type: none;
    font-weight: 500;
    text-align: left;
}

/* unvisited link */
.recipe-link:link {
    text-decoration: none;
    color: #000000;
}

/* visited link */
.recipe-link:visited {
    color: purple;
}

.recipe-link:hover {
    color: red;
}

img {
    display: block;
    height: auto;
    width: 50%;
    margin: 0 auto;
}

.recipe-card {
    width: 830px;
    background: whitesmoke;
    margin: 0 auto;
    padding: 32px;
    border: 2px solid darkslategray;
}

h1 {
    text-align: center;
}