*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #000000;
    margin: 0px;
}

.recipe-menu {
    width: 830px;
    background: whitesmoke;
    margin: 0 auto;
    padding: 32px;
    border: 2px solid #2f4f4f;
}

ul .recipe {
    list-style-type: none;
    font-weight: 500;
    text-align: left;
}

/* unvisited link */
.recipe-link:link {
    text-decoration: none;
    color: #000000;
}

/* visited link */
.recipe-link:visited {
    color: purple;
}

.recipe-link:hover {
    color: red;
}

.recipe-card {
    width: 830px;
    background: whitesmoke;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #2f4f4f;
}

h1 {
    text-align: left;
    color: #2f4f4f;
}

.recipe-card-top {
    display: inline-block;
    max-width: 800px;
    vertical-align: top;
}

.recipe-card-top img {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.recipe-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.recipe-card-top h1,
.recipe-card-top h2,
.recipe-card-top p {
    display: block;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 18px;
}

.recipe-prep {
    display: inline-block;
    margin-right: 20px;

}